<p id="notice"><%= notice %></p>

<form>
  <div class="form-group">
    <%= label_tag nil, @mining_type.description %>
    <%= text_field_tag nil,  @mining_type.description, class:"form-control", placeholder:"Bitcoin" %>
  </div>

  <div class="form-group">
    <%= label_tag nil,  @mining_type.acronym %>
    <%= text_field_tag nil, @mining_type.acronym, class:"form-control", placeholder:"Btc" %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @url_image %>
    <%= text_field_tag :url_image, class:"form-control", placeholder:"url" %>
  </div>

</form>

<%= link_to t('links.edit'), edit_mining_type_path(@mining_type) %> |
<%= link_to t('links.back'), mining_types_path %>
